extends layout

block content
  .container
    h1 留言
    form(action='/api/postfeedback',method='post',width='400px')
      table(width='250px').message-table
        tr
          td 
            label 昵称: 
          td 
            input(name='nickname',type='text')
        tr
          td
            label 手机: 
          td
            input(name='cellphone',type='text')
        tr
          td
            label 电子邮箱: 
          td
            input(name='email',type='text')
      label 留言: 
      br
      textarea(style='width:400px;height:200px',name='feedback')
      br
      input(type='submit',value='提交')
