extends layout

block content
  .homepage-container
      .box.pull-left
        h2 简介
        div !{unescape(data.introduction.text)}
        a.show-details(href='/introduction') 更多...
      .box.pull-right
        h2 照片墙
